@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.festive-title {
  font-family: 'Archivo Black', sans-serif;
}

.shadow-brutal {
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
}

.shadow-brutal-sm {
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}

.shadow-brutal-lg {
  box-shadow: 12px 12px 0px 0px rgba(0,0,0,1);
}